SNOWFLAKE_USER=<SNOWFLAKE_USER>
SNOWFLAKE_PASSWORD=<SNOWFLAKE_PASSWORD>
SNOWFLAKE_ACCOUNT=<SNOWFLAKE_ACCOUNT>
SNOWFLAKE_ROLE=<SNOWFLAKE_ROLE>
SNOWFLAKE_WAREHOUSE=<SNOWFLAKE_WAREHOUSE>
SNOWFLAKE_DATABASE=<SNOWFLAKE_DATABASE>
SNOWFLAKE_SCHEMA=<SNOWFLAKE_SCHEMA>

# Airflow が認識できる Snowflake 接続形式に変換
AIRFLOW_CONN_SNOWFLAKE_DEFAULT={"conn_type":"snowflake","login":"${SNOWFLAKE_USER}","password":"${SNOWFLAKE_PASSWORD}","schema":"${SNOWFLAKE_SCHEMA}","extra":{"account":"${SNOWFLAKE_ACCOUNT}","warehouse":"${SNOWFLAKE_WAREHOUSE}","database":"${SNOWFLAKE_DATABASE}"}}

_PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-snowflake